@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
body {
  font-family: "Montserrat";
  background: #f8f9fa;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1388px;
  padding: 0 15px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.ai {
  align-items: center;
}

.jc {
  justify-content: space-between;
}

.bb {
  border-bottom: 1px solid #D8E0EB;
}

.mb {
  margin-bottom: 20px;
}

.bcg_light_blue {
  background: #DEEBF5;
}

.bcg_white {
  background: #fff;
}

.blue_button {
  display: inline-flex;
  background: #0061AF;
  border-radius: 100px;
  padding: 19px 35px 19px 35px;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}
.blue_button span {
  font-weight: 700;
  font-size: 15px;
  line-height: 109%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.blue_button.after_link:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 25px;
  background-image: url(../img/link.svg);
  background-size: 19px 19px;
  background-position: center;
  width: 19px;
  height: 19px;
}
.blue_button.after_link span {
  margin-right: 40px;
}

.sec_intrn_shipment {
  display: flex;
  align-items: center;
}
.sec_intrn_shipment .text_intrn_shipment {
  width: 45%;
}
.sec_intrn_shipment .text_intrn_shipment .small_text {
  width: 85%;
}

.sec_intrn_shipment.second {
  padding: 40px 0;
}
.sec_intrn_shipment.second .img_intrn_shipment {
  width: calc(55% - 80px);
  margin-right: 80px;
}
.sec_intrn_shipment.second .img_intrn_shipment img {
  width: 100%;
}

.sec_intrn_shipment.first .text_intrn_shipment {
  background: #FFFFFF;
  border-radius: 30px;
  padding: 40px 50px 30px 50px;
}
.sec_intrn_shipment.first .img_intrn_shipment {
  width: calc(55% - 35px);
  margin-left: 35px;
  margin-top: auto;
}
.sec_intrn_shipment.first .img_intrn_shipment img {
  width: 100%;
  vertical-align: bottom;
  margin-top: auto;
}

.text_intrn_shipment .title {
  font-weight: 700;
  font-size: 30px;
  line-height: 135%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #2361A9;
  margin-bottom: 15px;
}
.text_intrn_shipment .descr {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: #606B77;
  margin-bottom: 24px;
}

.service_offers_sec {
  padding: 55px 0 70px;
}
.service_offers_sec .heading_sec {
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  text-transform: uppercase;
  color: #2361A9;
  margin-bottom: 30px;
  text-align: center;
}

.service_offers_wrap {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: calc(100% + 35px);
  margin-left: -35px;
  row-gap: 30px;
}

.service_offers_row {
  background: #FFFFFF;
  border-radius: 20px;
  width: calc(33.3% - 35px);
  margin-left: 35px;
  overflow: hidden;
}
.service_offers_row .img_service {
  width: 100%;
  height: 25vh;
  object-fit: cover;
}
.service_offers_row .img_service img {
  width: 100%;
  height: 100%;
}
.service_offers_row .text_row_service {
  padding: 20px 25px 25px;
}
.service_offers_row .text_row_service .title_service {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #2361A9;
  margin-bottom: 10px;
}
.service_offers_row .text_row_service .descr_serv {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: #606B77;
  margin-bottom: 20px;
}

.on_index_link {
  display: none;
  text-decoration: none;
  align-items: center;
}
.on_index_link h3 {
  font-weight: 700;
  font-size: 12px;
  line-height: 109%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #2361A9;
  margin-left: 10px;
}
.on_index_link img {
  width: 8px;
  height: 8px;
}